/* color gradient, navy-32506e green-c1ff80 teal-4be6cf */

.introCard {
font-family:Arial, Helvetica, sans-serif;
}

.photoContainer{
    background-color:#bafbf1;
}
.userHr {
    color: #32506e;
    background-color: #32506e;
    width: 100%;
    height: 3px;
}
.animate-text {
    --bg-size: 400%;
    --color-one: #c1ff80;
    --color-two: #4be6cf;
    --color-three: #32506e;
    font-size: clamp(2rem, 2vmin, 8rem);
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-three),
                  var(--color-two),
                  var(--color-one)
  
                  ) 0 0 / var(--bg-size) 100%;
                  color: transparent;
                  -webkit-background-clip: text;
                  background-clip: text;
                  -webkit-background-clip: text;
                  animation: move-bg 8s infinite linear;
                }
  
                @keyframes move-bg {
                  to {
                    background-position: var(--bg-size) 0;
                  }
                }
  
                @media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
 }
 