.nav {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  overflow: hidden;
  justify-content: space-between;

}

.nav a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.nav h2 {
  margin: 0;
  padding-left: 20px; /* Add padding to the left of the title */
  color: navy;
  font-family: cursive;
}

.nav-links {
  width: 35em;
  text-align: center;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-family: 'cursive';
}

.nav-title {
  display: flex;
  align-items: center;
}
