
/* color gradient, navy green c1ff80 teal 4be6cf */
/* !Nav links */
.nav-links {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.title-img {
  width: 50%;
  display:flex;

  align-content: center;
justify-content: center;
  background-color: aquamarine;
}
